<html lang="en" ng-app="calendarDemoApp" id="top">

<script src="../bower_components/jquery/dist/jquery.js"></script>

    <script src="../bower_components/angular/angular.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
    <script src="../bower_components/moment/moment.js"></script>
    <script type="text/javascript" src="../bower_components/fullcalendar/dist/fullcalendar.js"></script>
    <script src="../bower_components/fullcalendar/dist/gcal.js"></script>
    <script type="text/javascript" src="../src/calendar.js"></script>
    <script type="text/javascript" src="../calendar/calendarDemo.js"></script>
    <script type="text/javascript" src="landingScript.js"></script>


<div class="jumbotron text-center">
    		
<div id="main" style="text-align:center">

		<p>{{ message }}</p>
    </div>
<form ng-submit="accordionCtrl.getReservations()">
      Username:
      <input type="text" ng-model="username" name="username" />
      <input type="submit" class="btn btn-default btn-sm" id="submit" value="Get" />
    </form>

   
        <br>
        <button type="button" class="btn btn-default btn-sm" ng-click="check()">Check In/Out</button>
        <br>
        <button type="button" class="btn btn-default btn-sm" ng-click="cancel()">Cancel</button>
        <br>
        <button type="button" class="btn btn-default btn-sm" ng-click="alert()">Alert</button>
     
</div>

</html>

