<!DOCTYPE HTML>
<html lang="en-US" ng-app="scotchApp">
<head>
  <script type="text/javascript" src="landingScript.js"></script>

 </head>
<body>
<div ng-controller="findController">
  <div class="jumbotron text-center">		
	<div id="main" style="text-align:center">	
		<p>{{ message }}</p>

  <accordion close-others="oneAtATime">
   
    <accordion-group heading="Reservation 1">
      <p>You have reserved on {{date}} at {{time}} in room {{room}}</p>
        <button class="btn btn-success" ng-click="addItem()">Check In/Out</button>
<!--         <div ng-repeat="item in items">{{item}}</div> -->
        <button class="btn btn-danger">Cancel</button>
        <button class="btn btn-info" ng-click="addItem()">Alert</button>

    </accordion-group>
  </accordion>
  </div>
  </div>
</div>

</body>
</html>