<!DOCTYPE html>
<html lang="en" ng-app="calendarDemoApp" id="top">
<head>
    <title>Reservation Calendar</title>
    <link rel="icon" href="favicon.ico" />
    <link rel="stylesheet" href="/../bower_components/bootstrap-css/css/bootstrap.css" />
    <link rel="stylesheet" href="/../bower_components/fullcalendar/dist/fullcalendar.css">
    <link rel="stylesheet" href="calendarDemo.css" />

    <script src="../bower_components/jquery/dist/jquery.js"></script>

    <script src="../bower_components/angular/angular.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
    <script src="../bower_components/moment/moment.js"></script>
    <script src="../bower_components/fullcalendar/dist/fullcalendar.js"></script>
    <script src="../bower_components/fullcalendar/dist/gcal.js"></script>
    <script src="../src/calendar.js"></script>
    <script src="calendarDemo.js"></script>
</head>
<body data-spy="scroll">

<div role="main">
    <div class="container">
        <section id="directives-calendar" ng-controller="CalendarCtrl">
            
            <div class="well">
                <div class="row-fluid">
                    <div class="span4">
                    
                    </div>

                    <div class="span8">
                        <tabset>
								<div class="calendar" id='myCalendar1' ng-model="eventSources" ng-click="myCalendar1" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>
					    </tab>
                            
                              <div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
                                <h4>{{alertMessage}}</h4>
                              </div>
                           </tab>
                       </tabset>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-17352735-3']);
            _gaq.push(['_trackPageview']);
            (function () {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </body>
</html>
